* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}  
#contents {
 background:url("../images/bg.jpg") no-repeat;
 background-size:cover;
 width:800px;
 height:500px;
 margin:0 auto;
 position: relative; /*contents가 h1의 기준 요소*/
}
h1 { 
  position: absolute;
  right: 60px;
  bottom: 60px;
  color:#fff; 
  font-size:120px;
  text-shadow: 2px 3px 0 #000;      
}